<h2 class="text-center mt-4 addsh">Add Services</h2>
<form class="admin-form mt-5" action="/admin/servicesAdd" enctype="multipart/form-data" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="" >
  </div>
  <div class="mb-3">
    <label class="form-label">Describtion</label>
    <input type="text" name="describtion" class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">image</label>
    <input type="file" name="image" class="form-control" >
  </div>
  <div class="mb-3">
    <label class="form-label">Service Cost</label>
    <input type="number" name="price" class="form-control" >
  </div>
 
  <button type="submit" class="btn btn-primary">Add</button>
</form>