<a href="/admin/addservice" class="btn btn-primary mt-4">Add Services</a>
<h3 class="mt-5">Services</h3>
<table class="table table-striped ">
  <thead>
    <tr>
     
      <th scope="col">Title</th>
      <th scope="col">Describtion</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each cardss}}
    <tr>
      <td>{{this.title}}</td>
      <td>
        {{this.describtion}}
      </td>
      <td>
        <img src="/service-images/{{this._id}}.jpg" height="100px" width="100px" alt="">
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/admin/contactusview" class="btn btn-primary mt-4">Users who tried to contact us</a>