<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PRITECHSOLUTIONS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#item-1">Static websites</a></li>
            <li><a class="dropdown-item" href="#item-2">Responsive Web Sites</a></li>
            <li><a class="dropdown-item" href="#item-3">Full Stack Web Application</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/login">Log into Admin</a>
        </li>
      </ul>
      <div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{#if users}}
    {{users.Name}}
    {{else}}
    Account
    {{/if}}
  </button>
  {{#if users}}
  <a href="/logout">
  <ul class="dropdown-menu" >
    LogOut
  </ul>
  </a>
  {{else}}
   <a href="/login">
  <ul class="dropdown-menu" >
    LogIn
  </ul>
  </a>
  {{/if}}
   
</div>
    </div>
  </div>
</nav>