<div class="container-fluid">
    <div class="row custom-form-container">
      <div class="col-sm-12">
        <h1 class="text-center mt-5 navbar-brand">Login</h1>
        {{#if invalidusr}}
        <div class="alert alert-danger text-center mt-3" role="alert">
          Invalid Email or Password!
        </div>
        {{/if}}
        <div class="mt-5 custom-form">
          <form action="/loginValidation" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" name="Email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInput" name="Password">
            </div>
            <div>
               <a href="/signup" class="primary text-left mb-3 ">Create new account?</a>
            <button type="submit" class="btn btn-primary float-end">Login</button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>