<div class="mt-5 custom-former">
  <div class="container">
    <div class="">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="/service-images/65df4fb0e6bff72d01136bfe.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              Static Web Site
            </h5>
            <form action="/referal" method="get">
              <p class="card-text">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <input type="password" id="inputPassword6" name="referal" class="form-control" aria-describedby="passwordHelpInline" placeholder="Enter Code Here">
                  </div>
                  <input type="text" hidden value="65df4fb0e6bff72d01136bfe" name="id">
                  <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                      Must be 8-20 characters long.
                    </span>
                  </div>
                </div>
              </p>
              <button type="submit" class="btn btn-primary">Click to Proceed</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
