<div class="container">
<h1 class="navbar-brand text-center mt-5">SignUp</h1>
<div class="container d-flex justify-content-center align-items-center mt-5">

  <form action="/signupsav" method="post" class="admin-form">
    <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Name</label>
              <input type="text" class="form-control" id="exampleInput" name="Name" >
             
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" name="Email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInput" name="Password">
            </div>
            <div>
               
            <button type="submit" class="btn btn-primary ">Create</button>
            </div>
           
          </form>
</div>
</div>